@charset "utf-8";

/*Navbar*/
body {
  margin: 0;
  padding: 0;
}

h2, p {
  margin: 10px;
}

ul:not(.elenco_puntato) {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #344E41;
  position: fixed;
  width: 100%;
  top: 0;
}

li {
  float: right;
}

li a, .dropbtn {
    display: inline-block;
    color: #ede0d4;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
  background-color: #588157;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #7D8597;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: #ede0d4;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.active1 {
	background-color: #3A5A40;	
}
/*Fine Navbar*/

/*Testo*/
/* Grid Container */
.grid-container {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(2, auto);
  gap: 0px 0px;
}

/* Grid Item 1 - Desktop */
.grid-item-1 {
  grid-row: 1 / 2;
  grid-column: 1 / 2;
}

/* Grid Item 2 - Desktop */
.grid-item-2 {
  grid-row: 1 / 2;
  grid-column: 2 / 3;
  display: flex;
  justify-content: center; /* Centra orizzontalmente */
  align-items: center;     /* Centra verticalmente */
}

/* Grid Item 3 - Desktop */
.grid-item-3 {
  grid-row: 2 / 3;
  grid-column: 2 / 3;
}

/* Grid Item 4 - Desktop */
.grid-item-4 {
  grid-row: 2 / 3;
  grid-column: 1 / 2;
  display: flex;
  justify-content: center; /* Centra orizzontalmente */
  align-items: center;     /* Centra verticalmente */
}

.testo {
	display: block;
	color: #343a40;
	margin-top: 2%;
	padding-left: 2%;
	padding-right: 2%;
	font-size: 150%;
}

.titolo {
    display: block;
    color: #343a40;
    text-align: left;
    font-size: 600%;
	font-weight: 900;
	margin-left: 1%;
}
/*Fine Testo*/

.img {
	width: 60%;
	height: auto; /* Mantiene le proporzioni corrette */
    display: block;
}

.img2 {
	width: 70%;
	height: auto; /* Mantiene le proporzioni corrette */
    display: block;
}


/*Footer*/
.footer {
	grid-column: 1 / -1;
   	left: 0;
	bottom: 0;
  	width: 100%;
  	background-color: #003566;
   	color: #ede0d4;
   	text-align: right;
	box-sizing: border-box;
	margin-top: 5%;
    padding-top: 0;
	font-size: 25px;
	}

.link {
	display: block;
	color: #F9F8F7;
	margin-bottom: 0px;
	padding-bottom: 0px;
	font-size: 25px;
	text-decoration: none;
	margin-left: 45px;
	margin-top: 4px;
}

.link:hover {
	text-decoration: underline;
	font-weight: 700;
}
/*End of Footer*/